SentinelFM/App_WebReferences/SentinelFM/ReportingServices/ReportingServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sentinelfm.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.sentinelfm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sentinelfm.com">
      <s:element name="Message">
        <s:complexType />
      </s:element>
      <s:element name="MessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessMessageResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenderDirectReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenderDirectReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RenderDirectReportResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="reportUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenderRepositoryReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenderRepositoryReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RenderRepositoryReportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenderScheduleReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SecurityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="reportFormat" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenderScheduleReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RenderScheduleReportResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="reportUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MessageSoapIn">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="MessageSoapOut">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessMessageSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessMessage" />
  </wsdl:message>
  <wsdl:message name="ProcessMessageSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessMessageResponse" />
  </wsdl:message>
  <wsdl:message name="RenderDirectReportSoapIn">
    <wsdl:part name="parameters" element="tns:RenderDirectReport" />
  </wsdl:message>
  <wsdl:message name="RenderDirectReportSoapOut">
    <wsdl:part name="parameters" element="tns:RenderDirectReportResponse" />
  </wsdl:message>
  <wsdl:message name="RenderRepositoryReportSoapIn">
    <wsdl:part name="parameters" element="tns:RenderRepositoryReport" />
  </wsdl:message>
  <wsdl:message name="RenderRepositoryReportSoapOut">
    <wsdl:part name="parameters" element="tns:RenderRepositoryReportResponse" />
  </wsdl:message>
  <wsdl:message name="RenderScheduleReportSoapIn">
    <wsdl:part name="parameters" element="tns:RenderScheduleReport" />
  </wsdl:message>
  <wsdl:message name="RenderScheduleReportSoapOut">
    <wsdl:part name="parameters" element="tns:RenderScheduleReportResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportingServicesSoap">
    <wsdl:operation name="Message">
      <wsdl:input message="tns:MessageSoapIn" />
      <wsdl:output message="tns:MessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessMessage">
      <wsdl:input message="tns:ProcessMessageSoapIn" />
      <wsdl:output message="tns:ProcessMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenderDirectReport">
      <wsdl:input message="tns:RenderDirectReportSoapIn" />
      <wsdl:output message="tns:RenderDirectReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenderRepositoryReport">
      <wsdl:input message="tns:RenderRepositoryReportSoapIn" />
      <wsdl:output message="tns:RenderRepositoryReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenderScheduleReport">
      <wsdl:input message="tns:RenderScheduleReportSoapIn" />
      <wsdl:output message="tns:RenderScheduleReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportingServicesSoap" type="tns:ReportingServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://www.sentinelfm.com/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMessage">
      <soap:operation soapAction="http://www.sentinelfm.com/ProcessMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenderDirectReport">
      <soap:operation soapAction="http://www.sentinelfm.com/RenderDirectReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenderRepositoryReport">
      <soap:operation soapAction="http://www.sentinelfm.com/RenderRepositoryReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenderScheduleReport">
      <soap:operation soapAction="http://www.sentinelfm.com/RenderScheduleReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportingServicesSoap12" type="tns:ReportingServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap12:operation soapAction="http://www.sentinelfm.com/Message" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMessage">
      <soap12:operation soapAction="http://www.sentinelfm.com/ProcessMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenderDirectReport">
      <soap12:operation soapAction="http://www.sentinelfm.com/RenderDirectReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenderRepositoryReport">
      <soap12:operation soapAction="http://www.sentinelfm.com/RenderRepositoryReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenderScheduleReport">
      <soap12:operation soapAction="http://www.sentinelfm.com/RenderScheduleReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingServices">
    <wsdl:port name="ReportingServicesSoap" binding="tns:ReportingServicesSoap">
      <soap:address location="http://192.168.9.61/ASIReports/Interfaces/ReportingServices.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportingServicesSoap12" binding="tns:ReportingServicesSoap12">
      <soap12:address location="http://192.168.9.61/ASIReports/Interfaces/ReportingServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>