SentinelMobile/SentinelMobile/Web References/Resolver/Resolver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sentinelfm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sentinelfm.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sentinelfm.com/">
      <s:element name="StreetAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StreetAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StreetAddressResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Location">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="resolvedAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocationResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="resolvedAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StreetAddressSimple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StreetAddressSimpleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StreetAddressSimpleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationSimple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationSimpleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocationSimpleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StreetAddressSoapIn">
    <wsdl:part name="parameters" element="tns:StreetAddress" />
  </wsdl:message>
  <wsdl:message name="StreetAddressSoapOut">
    <wsdl:part name="parameters" element="tns:StreetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="LocationSoapIn">
    <wsdl:part name="parameters" element="tns:Location" />
  </wsdl:message>
  <wsdl:message name="LocationSoapOut">
    <wsdl:part name="parameters" element="tns:LocationResponse" />
  </wsdl:message>
  <wsdl:message name="StreetAddressSimpleSoapIn">
    <wsdl:part name="parameters" element="tns:StreetAddressSimple" />
  </wsdl:message>
  <wsdl:message name="StreetAddressSimpleSoapOut">
    <wsdl:part name="parameters" element="tns:StreetAddressSimpleResponse" />
  </wsdl:message>
  <wsdl:message name="LocationSimpleSoapIn">
    <wsdl:part name="parameters" element="tns:LocationSimple" />
  </wsdl:message>
  <wsdl:message name="LocationSimpleSoapOut">
    <wsdl:part name="parameters" element="tns:LocationSimpleResponse" />
  </wsdl:message>
  <wsdl:portType name="ResolverSoap">
    <wsdl:operation name="StreetAddress">
      <wsdl:input message="tns:StreetAddressSoapIn" />
      <wsdl:output message="tns:StreetAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Location">
      <wsdl:input message="tns:LocationSoapIn" />
      <wsdl:output message="tns:LocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StreetAddressSimple">
      <wsdl:input message="tns:StreetAddressSimpleSoapIn" />
      <wsdl:output message="tns:StreetAddressSimpleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationSimple">
      <wsdl:input message="tns:LocationSimpleSoapIn" />
      <wsdl:output message="tns:LocationSimpleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResolverSoap" type="tns:ResolverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StreetAddress">
      <soap:operation soapAction="http://sentinelfm.com/StreetAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Location">
      <soap:operation soapAction="http://sentinelfm.com/Location" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StreetAddressSimple">
      <soap:operation soapAction="http://sentinelfm.com/StreetAddressSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationSimple">
      <soap:operation soapAction="http://sentinelfm.com/LocationSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResolverSoap12" type="tns:ResolverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StreetAddress">
      <soap12:operation soapAction="http://sentinelfm.com/StreetAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Location">
      <soap12:operation soapAction="http://sentinelfm.com/Location" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StreetAddressSimple">
      <soap12:operation soapAction="http://sentinelfm.com/StreetAddressSimple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationSimple">
      <soap12:operation soapAction="http://sentinelfm.com/LocationSimple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Resolver">
    <wsdl:port name="ResolverSoap" binding="tns:ResolverSoap">
      <soap:address location="http://192.168.9.9/Resolver.asmx" />
    </wsdl:port>
    <wsdl:port name="ResolverSoap12" binding="tns:ResolverSoap12">
      <soap12:address location="http://192.168.9.9/Resolver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>