Admin/App_WebReferences/LocationMgr/Location.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sentinelfm.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.sentinelfm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sentinelfm.com">
      <s:element name="GetCommandStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boxId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="protocolType" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="cmdStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommandStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCommandStatusResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cmdStatus" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="boxID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="commandID" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="paramList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="protocolType" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="commMode" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="cmdSent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionTimeOut" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendCommandResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="protocolType" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="commMode" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="cmdSent" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sessionTimeOut" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boxID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="protocolType" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelCommandResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleLocationInfoXmlByBoxId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boxID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleLocationInfoXmlByBoxIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetVehicleLocationInfoXmlByBoxIdResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleLocationInfoXmlByVehicleId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vehicleId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleLocationInfoXmlByVehicleIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetVehicleLocationInfoXmlByVehicleIdResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehiclesLocationInfoXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="boxIdsXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehiclesLocationInfoXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetVehiclesLocationInfoXmlResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleLocationInfoXmlByLicensePlate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licensePlate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleLocationInfoXmlByLicensePlateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetVehicleLocationInfoXmlByLicensePlateResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAutomaticCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boxID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="commandID" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="cmdScheduledDateTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="paramList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="protocolType" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="commMode" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="transmissionPeriod" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="transmissionInterval" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="usingDualMode" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="taskId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAutomaticCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendAutomaticCommandResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="protocolType" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="commMode" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="taskId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAutomaticCommandWithoutCommParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boxID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="commandID" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="cmdScheduledDateTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="paramList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="transmissionPeriod" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="transmissionInterval" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="usingDualMode" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="taskId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAutomaticCommandWithoutCommParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendAutomaticCommandWithoutCommParamsResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="taskId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAutomaticCommandWithoutCommParamsOnSecondaryMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boxID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="commandID" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="cmdScheduledDateTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="paramList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="transmissionPeriod" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="transmissionInterval" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="usingDualMode" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="taskId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendAutomaticCommandWithoutCommParamsOnSecondaryModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendAutomaticCommandWithoutCommParamsOnSecondaryModeResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="taskId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tasks" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="taskDeleted" type="tns:ArrayOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBoolean">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="boolean" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTaskResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="taskDeleted" type="tns:ArrayOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTasks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserTasksResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStreetAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="organizationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="streetAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStreetAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStreetAddressResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="streetAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStreetAddressesLSD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="organizationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lat" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="lot" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="streetAddresses" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStreetAddressesLSDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStreetAddressesLSDResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="streetAddresses" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStreetAddresses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="organizationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lat" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="lot" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="streetAddresses" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStreetAddressesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStreetAddressesResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="streetAddresses" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStreetAddressesXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="organizationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStreetAddressesXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStreetAddressesXMLResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecialAddressLSD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="organizationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="lot" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="streetAddresses" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecialAddressLSDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSpecialAddressLSDResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="streetAddresses" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="boxID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="protocolType" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteSessionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCommandToMultipleVehicles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="boxID" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="commandID" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="paramList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="scheduled" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="protocolType" type="tns:ArrayOfShort" />
            <s:element minOccurs="0" maxOccurs="1" name="commMode" type="tns:ArrayOfShort" />
            <s:element minOccurs="0" maxOccurs="1" name="cmdSent" type="tns:ArrayOfBoolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionTimeOut" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="results" type="tns:ArrayOfShort" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfShort">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="short" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendCommandToMultipleVehiclesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendCommandToMultipleVehiclesResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="protocolType" type="tns:ArrayOfShort" />
            <s:element minOccurs="0" maxOccurs="1" name="commMode" type="tns:ArrayOfShort" />
            <s:element minOccurs="0" maxOccurs="1" name="cmdSent" type="tns:ArrayOfBoolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionTimeOut" type="tns:ArrayOfLong" />
            <s:element minOccurs="0" maxOccurs="1" name="results" type="tns:ArrayOfShort" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommandStatusFromMultipleVehicles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="boxId" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="protocolType" type="tns:ArrayOfShort" />
            <s:element minOccurs="0" maxOccurs="1" name="cmdStatus" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommandStatusFromMultipleVehiclesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCommandStatusFromMultipleVehiclesResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cmdStatus" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCommandStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommandStatus" />
  </wsdl:message>
  <wsdl:message name="GetCommandStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommandStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SendCommandSoapIn">
    <wsdl:part name="parameters" element="tns:SendCommand" />
  </wsdl:message>
  <wsdl:message name="SendCommandSoapOut">
    <wsdl:part name="parameters" element="tns:SendCommandResponse" />
  </wsdl:message>
  <wsdl:message name="CancelCommandSoapIn">
    <wsdl:part name="parameters" element="tns:CancelCommand" />
  </wsdl:message>
  <wsdl:message name="CancelCommandSoapOut">
    <wsdl:part name="parameters" element="tns:CancelCommandResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleLocationInfoXmlByBoxIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleLocationInfoXmlByBoxId" />
  </wsdl:message>
  <wsdl:message name="GetVehicleLocationInfoXmlByBoxIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleLocationInfoXmlByBoxIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleLocationInfoXmlByVehicleIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleLocationInfoXmlByVehicleId" />
  </wsdl:message>
  <wsdl:message name="GetVehicleLocationInfoXmlByVehicleIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleLocationInfoXmlByVehicleIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehiclesLocationInfoXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehiclesLocationInfoXml" />
  </wsdl:message>
  <wsdl:message name="GetVehiclesLocationInfoXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehiclesLocationInfoXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleLocationInfoXmlByLicensePlateSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleLocationInfoXmlByLicensePlate" />
  </wsdl:message>
  <wsdl:message name="GetVehicleLocationInfoXmlByLicensePlateSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleLocationInfoXmlByLicensePlateResponse" />
  </wsdl:message>
  <wsdl:message name="SendAutomaticCommandSoapIn">
    <wsdl:part name="parameters" element="tns:SendAutomaticCommand" />
  </wsdl:message>
  <wsdl:message name="SendAutomaticCommandSoapOut">
    <wsdl:part name="parameters" element="tns:SendAutomaticCommandResponse" />
  </wsdl:message>
  <wsdl:message name="SendAutomaticCommandWithoutCommParamsSoapIn">
    <wsdl:part name="parameters" element="tns:SendAutomaticCommandWithoutCommParams" />
  </wsdl:message>
  <wsdl:message name="SendAutomaticCommandWithoutCommParamsSoapOut">
    <wsdl:part name="parameters" element="tns:SendAutomaticCommandWithoutCommParamsResponse" />
  </wsdl:message>
  <wsdl:message name="SendAutomaticCommandWithoutCommParamsOnSecondaryModeSoapIn">
    <wsdl:part name="parameters" element="tns:SendAutomaticCommandWithoutCommParamsOnSecondaryMode" />
  </wsdl:message>
  <wsdl:message name="SendAutomaticCommandWithoutCommParamsOnSecondaryModeSoapOut">
    <wsdl:part name="parameters" element="tns:SendAutomaticCommandWithoutCommParamsOnSecondaryModeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserTasksSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserTasks" />
  </wsdl:message>
  <wsdl:message name="GetUserTasksSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserTasksResponse" />
  </wsdl:message>
  <wsdl:message name="GetStreetAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetStreetAddress" />
  </wsdl:message>
  <wsdl:message name="GetStreetAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetStreetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetStreetAddressesLSDSoapIn">
    <wsdl:part name="parameters" element="tns:GetStreetAddressesLSD" />
  </wsdl:message>
  <wsdl:message name="GetStreetAddressesLSDSoapOut">
    <wsdl:part name="parameters" element="tns:GetStreetAddressesLSDResponse" />
  </wsdl:message>
  <wsdl:message name="GetStreetAddressesSoapIn">
    <wsdl:part name="parameters" element="tns:GetStreetAddresses" />
  </wsdl:message>
  <wsdl:message name="GetStreetAddressesSoapOut">
    <wsdl:part name="parameters" element="tns:GetStreetAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="GetStreetAddressesXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetStreetAddressesXML" />
  </wsdl:message>
  <wsdl:message name="GetStreetAddressesXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetStreetAddressesXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpecialAddressLSDSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpecialAddressLSD" />
  </wsdl:message>
  <wsdl:message name="GetSpecialAddressLSDSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpecialAddressLSDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSessionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSession" />
  </wsdl:message>
  <wsdl:message name="DeleteSessionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSessionResponse" />
  </wsdl:message>
  <wsdl:message name="SendCommandToMultipleVehiclesSoapIn">
    <wsdl:part name="parameters" element="tns:SendCommandToMultipleVehicles" />
  </wsdl:message>
  <wsdl:message name="SendCommandToMultipleVehiclesSoapOut">
    <wsdl:part name="parameters" element="tns:SendCommandToMultipleVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommandStatusFromMultipleVehiclesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommandStatusFromMultipleVehicles" />
  </wsdl:message>
  <wsdl:message name="GetCommandStatusFromMultipleVehiclesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommandStatusFromMultipleVehiclesResponse" />
  </wsdl:message>
  <wsdl:portType name="LocationSoap">
    <wsdl:operation name="GetCommandStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method is used to clarify current execution status of the previously sent SendCommand () .Returned cmdStatus can be one of the following:Idle (0) – No command has been sentSent (1) – Command sent, no result yetAck  (2) – Command executed successfullyTimeout  (3) – Communication timed outCanceled  (4) - Command canceledQueued (5) – Command Queued</wsdl:documentation>
      <wsdl:input message="tns:GetCommandStatusSoapIn" />
      <wsdl:output message="tns:GetCommandStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a command to the Vehicle. This method call should be followed by consequent calls of GetCommandStatus() to determine current execution status of the command</wsdl:documentation>
      <wsdl:input message="tns:SendCommandSoapIn" />
      <wsdl:output message="tns:SendCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelCommand">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancel a command to the Vehicle. This method call should be followed by consequent calls of SendCommand() to cancel current execution of the command.</wsdl:documentation>
      <wsdl:input message="tns:CancelCommandSoapIn" />
      <wsdl:output message="tns:CancelCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleLocationInfoXmlByBoxId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves last-known vehicle location information from the Server by Box ID.</wsdl:documentation>
      <wsdl:input message="tns:GetVehicleLocationInfoXmlByBoxIdSoapIn" />
      <wsdl:output message="tns:GetVehicleLocationInfoXmlByBoxIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleLocationInfoXmlByVehicleId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves last-known vehicle location information from the Server by Vehicle ID.</wsdl:documentation>
      <wsdl:input message="tns:GetVehicleLocationInfoXmlByVehicleIdSoapIn" />
      <wsdl:output message="tns:GetVehicleLocationInfoXmlByVehicleIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehiclesLocationInfoXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves last-known vehicles location information from the Server by BoxIds XML string.</wsdl:documentation>
      <wsdl:input message="tns:GetVehiclesLocationInfoXmlSoapIn" />
      <wsdl:output message="tns:GetVehiclesLocationInfoXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleLocationInfoXmlByLicensePlate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves last-known vehicles location information from the Server by License Plate.</wsdl:documentation>
      <wsdl:input message="tns:GetVehicleLocationInfoXmlByLicensePlateSoapIn" />
      <wsdl:output message="tns:GetVehicleLocationInfoXmlByLicensePlateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAutomaticCommand">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a scheduled task to box with start time,re-sendind interval and period.</wsdl:documentation>
      <wsdl:input message="tns:SendAutomaticCommandSoapIn" />
      <wsdl:output message="tns:SendAutomaticCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAutomaticCommandWithoutCommParams">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a scheduled task to box with start time,re-sendind interval and period.</wsdl:documentation>
      <wsdl:input message="tns:SendAutomaticCommandWithoutCommParamsSoapIn" />
      <wsdl:output message="tns:SendAutomaticCommandWithoutCommParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendAutomaticCommandWithoutCommParamsOnSecondaryMode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a scheduled task to box by secondary channel with start time,re-sendind interval and period.</wsdl:documentation>
      <wsdl:input message="tns:SendAutomaticCommandWithoutCommParamsOnSecondaryModeSoapIn" />
      <wsdl:output message="tns:SendAutomaticCommandWithoutCommParamsOnSecondaryModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete scheduled tasks.</wsdl:documentation>
      <wsdl:input message="tns:DeleteTaskSoapIn" />
      <wsdl:output message="tns:DeleteTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTasks">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get user scheduled tasks.</wsdl:documentation>
      <wsdl:input message="tns:GetUserTasksSoapIn" />
      <wsdl:output message="tns:GetUserTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Resolve street address based on latitude and longitude</wsdl:documentation>
      <wsdl:input message="tns:GetStreetAddressSoapIn" />
      <wsdl:output message="tns:GetStreetAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddressesLSD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Resolve street address based on latitude and longitude -  LSD Proxy</wsdl:documentation>
      <wsdl:input message="tns:GetStreetAddressesLSDSoapIn" />
      <wsdl:output message="tns:GetStreetAddressesLSDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddresses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Resolve street address based on latitude and longitude</wsdl:documentation>
      <wsdl:input message="tns:GetStreetAddressesSoapIn" />
      <wsdl:output message="tns:GetStreetAddressesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddressesXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Resolve a set of street addresses based on latitude and longitude</wsdl:documentation>
      <wsdl:input message="tns:GetStreetAddressesXMLSoapIn" />
      <wsdl:output message="tns:GetStreetAddressesXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialAddressLSD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Resolve street address based on latitude and longitude -  LSD Proxy</wsdl:documentation>
      <wsdl:input message="tns:GetSpecialAddressLSDSoapIn" />
      <wsdl:output message="tns:GetSpecialAddressLSDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSession">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete Session</wsdl:documentation>
      <wsdl:input message="tns:DeleteSessionSoapIn" />
      <wsdl:output message="tns:DeleteSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCommandToMultipleVehicles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a command to the Multiple Vehicles. This method call should be followed by consequent calls of GetCommandStatus() to determine current execution status of the command</wsdl:documentation>
      <wsdl:input message="tns:SendCommandToMultipleVehiclesSoapIn" />
      <wsdl:output message="tns:SendCommandToMultipleVehiclesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommandStatusFromMultipleVehicles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a command to the Multiple Vehicles. This method call should be followed by consequent calls of GetCommandStatus() to determine current execution status of the command</wsdl:documentation>
      <wsdl:input message="tns:GetCommandStatusFromMultipleVehiclesSoapIn" />
      <wsdl:output message="tns:GetCommandStatusFromMultipleVehiclesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocationSoap" type="tns:LocationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommandStatus">
      <soap:operation soapAction="http://www.sentinelfm.com/GetCommandStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <soap:operation soapAction="http://www.sentinelfm.com/SendCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCommand">
      <soap:operation soapAction="http://www.sentinelfm.com/CancelCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleLocationInfoXmlByBoxId">
      <soap:operation soapAction="http://www.sentinelfm.com/GetVehicleLocationInfoXmlByBoxId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleLocationInfoXmlByVehicleId">
      <soap:operation soapAction="http://www.sentinelfm.com/GetVehicleLocationInfoXmlByVehicleId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehiclesLocationInfoXml">
      <soap:operation soapAction="http://www.sentinelfm.com/GetVehiclesLocationInfoXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleLocationInfoXmlByLicensePlate">
      <soap:operation soapAction="http://www.sentinelfm.com/GetVehicleLocationInfoXmlByLicensePlate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAutomaticCommand">
      <soap:operation soapAction="http://www.sentinelfm.com/SendAutomaticCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAutomaticCommandWithoutCommParams">
      <soap:operation soapAction="http://www.sentinelfm.com/SendAutomaticCommandWithoutCommParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAutomaticCommandWithoutCommParamsOnSecondaryMode">
      <soap:operation soapAction="http://www.sentinelfm.com/SendAutomaticCommandWithoutCommParamsOnSecondaryMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://www.sentinelfm.com/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTasks">
      <soap:operation soapAction="http://www.sentinelfm.com/GetUserTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddress">
      <soap:operation soapAction="http://www.sentinelfm.com/GetStreetAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddressesLSD">
      <soap:operation soapAction="http://www.sentinelfm.com/GetStreetAddressesLSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddresses">
      <soap:operation soapAction="http://www.sentinelfm.com/GetStreetAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddressesXML">
      <soap:operation soapAction="http://www.sentinelfm.com/GetStreetAddressesXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialAddressLSD">
      <soap:operation soapAction="http://www.sentinelfm.com/GetSpecialAddressLSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSession">
      <soap:operation soapAction="http://www.sentinelfm.com/DeleteSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommandToMultipleVehicles">
      <soap:operation soapAction="http://www.sentinelfm.com/SendCommandToMultipleVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommandStatusFromMultipleVehicles">
      <soap:operation soapAction="http://www.sentinelfm.com/GetCommandStatusFromMultipleVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LocationSoap12" type="tns:LocationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommandStatus">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetCommandStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <soap12:operation soapAction="http://www.sentinelfm.com/SendCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCommand">
      <soap12:operation soapAction="http://www.sentinelfm.com/CancelCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleLocationInfoXmlByBoxId">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetVehicleLocationInfoXmlByBoxId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleLocationInfoXmlByVehicleId">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetVehicleLocationInfoXmlByVehicleId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehiclesLocationInfoXml">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetVehiclesLocationInfoXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleLocationInfoXmlByLicensePlate">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetVehicleLocationInfoXmlByLicensePlate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAutomaticCommand">
      <soap12:operation soapAction="http://www.sentinelfm.com/SendAutomaticCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAutomaticCommandWithoutCommParams">
      <soap12:operation soapAction="http://www.sentinelfm.com/SendAutomaticCommandWithoutCommParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAutomaticCommandWithoutCommParamsOnSecondaryMode">
      <soap12:operation soapAction="http://www.sentinelfm.com/SendAutomaticCommandWithoutCommParamsOnSecondaryMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap12:operation soapAction="http://www.sentinelfm.com/DeleteTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTasks">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetUserTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddress">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetStreetAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddressesLSD">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetStreetAddressesLSD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddresses">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetStreetAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreetAddressesXML">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetStreetAddressesXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialAddressLSD">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetSpecialAddressLSD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSession">
      <soap12:operation soapAction="http://www.sentinelfm.com/DeleteSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommandToMultipleVehicles">
      <soap12:operation soapAction="http://www.sentinelfm.com/SendCommandToMultipleVehicles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommandStatusFromMultipleVehicles">
      <soap12:operation soapAction="http://www.sentinelfm.com/GetCommandStatusFromMultipleVehicles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Location">
    <wsdl:port name="LocationSoap" binding="tns:LocationSoap">
      <soap:address location="http://192.168.9.10/ASIReports/Interfaces/Location.asmx" />
    </wsdl:port>
    <wsdl:port name="LocationSoap12" binding="tns:LocationSoap12">
      <soap12:address location="http://192.168.9.10/ASIReports/Interfaces/Location.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>