SentinelFM/App_WebReferences/SentinelFM/GeomarkServiceRef/GeomarkService55.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev2:8080/GeomarkService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BsmLandmarkService" />
  <xs:import schemaLocation="http://dev2:8080/GeomarkService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Telogis.GeoBase" />
  <xs:import schemaLocation="http://dev2:8080/GeomarkService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dev2:8080/GeomarkService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GeomarkWcfService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandmarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="keyid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandmarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BsmLandmarkService" minOccurs="0" name="GetLandmarksResult" nillable="true" type="q1:ArrayOfLandmarkEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClusterKeyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Telogis.GeoBase" minOccurs="0" name="lastestPoint" type="q2:LatLon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClusterKeyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClusterKeyIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLandmarkCluster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="landmarkId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLandmarkClusterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLandmarkClusterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandmarkServiceAndRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="landmarkId" type="xs:int" />
        <xs:element minOccurs="0" name="vehicleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandmarkServiceAndRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLandmarkServiceAndRulesResult" nillable="true" type="q3:ArrayOfKeyValueOfintArrayOfKeyValueOfstringstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromSpatialTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="landmarkId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromSpatialTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFromSpatialTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InLandmark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Telogis.GeoBase" minOccurs="0" name="testPoint" type="q4:LatLon" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InLandmarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InLandmarkResult" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InGeoLandmark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="layer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InGeoLandmarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InGeoLandmarkResult" nillable="true" type="q6:ArrayOfKeyValueOfintArrayOfKeyValueOfstringstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFleetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFleetsResult" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InGeoLandmarkWithDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="layer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InGeoLandmarkWithDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InGeoLandmarkWithDetailResult" nillable="true" type="q8:ArrayOfKeyValueOflongLandmarkInfomLnUaEFN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PointInLandmark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PointInLandmarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PointInLandmarkResult" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BsmLandmarkService" minOccurs="0" name="composite" nillable="true" type="q10:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BsmLandmarkService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q11:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseGeoCoder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseGeoCoderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReverseGeoCoderResult" nillable="true" type="q12:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="landmarkId" type="xs:int" />
        <xs:element minOccurs="0" name="vehicleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceAssignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetServiceAssignmentResult" nillable="true" type="q13:ArrayOfKeyValueOfintArrayOfKeyValueOfstringstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandmarkGeometry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
        <xs:element minOccurs="0" name="landmarkId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandmarkGeometryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLandmarkGeometryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextRelatedLandmarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceConfigId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContextRelatedLandmarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetContextRelatedLandmarksResult" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testlongitude" type="xs:double" />
        <xs:element minOccurs="0" name="testlatitude" type="xs:double" />
        <xs:element minOccurs="0" name="organizationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySpeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuerySpeedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NavteqReverseGeoCoder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NavteqReverseGeoCoderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GeomarkWcfService" minOccurs="0" name="NavteqReverseGeoCoderResult" nillable="true" type="q15:GeoCoderNavteqResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NavteqReverseGeoCoderWithHeading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude" type="xs:double" />
        <xs:element minOccurs="0" name="Heading" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NavteqReverseGeoCoderWithHeadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GeomarkWcfService" minOccurs="0" name="NavteqReverseGeoCoderWithHeadingResult" nillable="true" type="q16:GeoCoderNavteqResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReleaseCacheResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointToLandmarkDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testlongitude" type="xs:double" />
        <xs:element minOccurs="0" name="testlatitude" type="xs:double" />
        <xs:element minOccurs="0" name="landmarkId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointToLandmarkDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPointToLandmarkDistanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePostpone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="boxId" type="xs:int" />
        <xs:element minOccurs="0" name="landmarkId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceConfigId" type="xs:int" />
        <xs:element minOccurs="0" name="duration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePostponeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePostponeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostpone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="boxId" type="xs:int" />
        <xs:element minOccurs="0" name="landmarkId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceConfigId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostponeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPostponeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleAvailableEmailSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="boxId" type="xs:int" />
        <xs:element minOccurs="0" name="landmarkId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceConfigId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleAvailableEmailSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVehicleAvailableEmailSettingResult" nillable="true" type="q17:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVehicleAvailableEmailSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="boxId" type="xs:int" />
        <xs:element minOccurs="0" name="landmarkId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceConfigId" type="xs:int" />
        <xs:element minOccurs="0" name="durationInMinute" type="xs:int" />
        <xs:element minOccurs="0" name="shouldSendEmailImmediately" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVehicleAvailableEmailSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetVehicleAvailableEmailSettingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>