SentinelFM/App_WebReferences/SentinelFM/SecurityManager/SecurityManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sentinelfm.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.sentinelfm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sentinelfm.com">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUserMD5">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUserMD5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginUserMD5Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="passKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMD5">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMD5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginMD5Result" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMD5Extended">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SuperOrganizationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isDisclaimer" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMD5ExtendedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginMD5ExtendedResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SuperOrganizationId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isDisclaimer" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMD5ByDBName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dbName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SuperOrganizationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMD5ByDBNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginMD5ByDBNameResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SuperOrganizationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginSHA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginSHAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginSHAResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogoutResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Relogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReloginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReloginResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReloginMD5">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReloginMD5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReloginMD5Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReloginMD5ByDBName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReloginMD5ByDBNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReloginMD5ByDBNameResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateandReloginMD5ByDBName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateandReloginMD5ByDBNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateandReloginMD5ByDBNameResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUserMD5SoapIn">
    <wsdl:part name="parameters" element="tns:LoginUserMD5" />
  </wsdl:message>
  <wsdl:message name="LoginUserMD5SoapOut">
    <wsdl:part name="parameters" element="tns:LoginUserMD5Response" />
  </wsdl:message>
  <wsdl:message name="LoginMD5SoapIn">
    <wsdl:part name="parameters" element="tns:LoginMD5" />
  </wsdl:message>
  <wsdl:message name="LoginMD5SoapOut">
    <wsdl:part name="parameters" element="tns:LoginMD5Response" />
  </wsdl:message>
  <wsdl:message name="LoginMD5ExtendedSoapIn">
    <wsdl:part name="parameters" element="tns:LoginMD5Extended" />
  </wsdl:message>
  <wsdl:message name="LoginMD5ExtendedSoapOut">
    <wsdl:part name="parameters" element="tns:LoginMD5ExtendedResponse" />
  </wsdl:message>
  <wsdl:message name="LoginMD5ByDBNameSoapIn">
    <wsdl:part name="parameters" element="tns:LoginMD5ByDBName" />
  </wsdl:message>
  <wsdl:message name="LoginMD5ByDBNameSoapOut">
    <wsdl:part name="parameters" element="tns:LoginMD5ByDBNameResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSHASoapIn">
    <wsdl:part name="parameters" element="tns:LoginSHA" />
  </wsdl:message>
  <wsdl:message name="LoginSHASoapOut">
    <wsdl:part name="parameters" element="tns:LoginSHAResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ReloginSoapIn">
    <wsdl:part name="parameters" element="tns:Relogin" />
  </wsdl:message>
  <wsdl:message name="ReloginSoapOut">
    <wsdl:part name="parameters" element="tns:ReloginResponse" />
  </wsdl:message>
  <wsdl:message name="ReloginMD5SoapIn">
    <wsdl:part name="parameters" element="tns:ReloginMD5" />
  </wsdl:message>
  <wsdl:message name="ReloginMD5SoapOut">
    <wsdl:part name="parameters" element="tns:ReloginMD5Response" />
  </wsdl:message>
  <wsdl:message name="ReloginMD5ByDBNameSoapIn">
    <wsdl:part name="parameters" element="tns:ReloginMD5ByDBName" />
  </wsdl:message>
  <wsdl:message name="ReloginMD5ByDBNameSoapOut">
    <wsdl:part name="parameters" element="tns:ReloginMD5ByDBNameResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateandReloginMD5ByDBNameSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateandReloginMD5ByDBName" />
  </wsdl:message>
  <wsdl:message name="ValidateandReloginMD5ByDBNameSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateandReloginMD5ByDBNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SecurityManagerSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUserMD5">
      <wsdl:input message="tns:LoginUserMD5SoapIn" />
      <wsdl:output message="tns:LoginUserMD5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginMD5">
      <wsdl:input message="tns:LoginMD5SoapIn" />
      <wsdl:output message="tns:LoginMD5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginMD5Extended">
      <wsdl:input message="tns:LoginMD5ExtendedSoapIn" />
      <wsdl:output message="tns:LoginMD5ExtendedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginMD5ByDBName">
      <wsdl:input message="tns:LoginMD5ByDBNameSoapIn" />
      <wsdl:output message="tns:LoginMD5ByDBNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginSHA">
      <wsdl:input message="tns:LoginSHASoapIn" />
      <wsdl:output message="tns:LoginSHASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Relogin">
      <wsdl:input message="tns:ReloginSoapIn" />
      <wsdl:output message="tns:ReloginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReloginMD5">
      <wsdl:input message="tns:ReloginMD5SoapIn" />
      <wsdl:output message="tns:ReloginMD5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReloginMD5ByDBName">
      <wsdl:input message="tns:ReloginMD5ByDBNameSoapIn" />
      <wsdl:output message="tns:ReloginMD5ByDBNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateandReloginMD5ByDBName">
      <wsdl:input message="tns:ValidateandReloginMD5ByDBNameSoapIn" />
      <wsdl:output message="tns:ValidateandReloginMD5ByDBNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityManagerSoap" type="tns:SecurityManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.sentinelfm.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUserMD5">
      <soap:operation soapAction="http://www.sentinelfm.com/LoginUserMD5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMD5">
      <soap:operation soapAction="http://www.sentinelfm.com/LoginMD5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMD5Extended">
      <soap:operation soapAction="http://www.sentinelfm.com/LoginMD5Extended" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMD5ByDBName">
      <soap:operation soapAction="http://www.sentinelfm.com/LoginMD5ByDBName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginSHA">
      <soap:operation soapAction="http://www.sentinelfm.com/LoginSHA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.sentinelfm.com/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Relogin">
      <soap:operation soapAction="http://www.sentinelfm.com/Relogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloginMD5">
      <soap:operation soapAction="http://www.sentinelfm.com/ReloginMD5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloginMD5ByDBName">
      <soap:operation soapAction="http://www.sentinelfm.com/ReloginMD5ByDBName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateandReloginMD5ByDBName">
      <soap:operation soapAction="http://www.sentinelfm.com/ValidateandReloginMD5ByDBName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SecurityManagerSoap12" type="tns:SecurityManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.sentinelfm.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUserMD5">
      <soap12:operation soapAction="http://www.sentinelfm.com/LoginUserMD5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMD5">
      <soap12:operation soapAction="http://www.sentinelfm.com/LoginMD5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMD5Extended">
      <soap12:operation soapAction="http://www.sentinelfm.com/LoginMD5Extended" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMD5ByDBName">
      <soap12:operation soapAction="http://www.sentinelfm.com/LoginMD5ByDBName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginSHA">
      <soap12:operation soapAction="http://www.sentinelfm.com/LoginSHA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://www.sentinelfm.com/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Relogin">
      <soap12:operation soapAction="http://www.sentinelfm.com/Relogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloginMD5">
      <soap12:operation soapAction="http://www.sentinelfm.com/ReloginMD5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloginMD5ByDBName">
      <soap12:operation soapAction="http://www.sentinelfm.com/ReloginMD5ByDBName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateandReloginMD5ByDBName">
      <soap12:operation soapAction="http://www.sentinelfm.com/ValidateandReloginMD5ByDBName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityManager">
    <wsdl:port name="SecurityManagerSoap" binding="tns:SecurityManagerSoap">
      <soap:address location="http://localhost:53931/Interfaces/SecurityManager.asmx" />
    </wsdl:port>
    <wsdl:port name="SecurityManagerSoap12" binding="tns:SecurityManagerSoap12">
      <soap12:address location="http://localhost:53931/Interfaces/SecurityManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>